<%- include('header') %>
<div class="editForm">
    <form action="/memberpage/<%= member._id %>/edit" method="POST">
        <input type="text" value="<%= member.name %>" id="name" name="name"> <br>
        <input type="email" value="<%= member.email %>" id="email" name="email"> <br>
        <input type="tel" value="<%= member.phone %>" id="phone" name="phone"> <br>
        <textarea id="message" name="message"><%= member.message %></textarea> <br>
        <button type="submit">Submit</button>
    </form>
    </div>
    <%- include('footer') %>