<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/memberpage/<%= member._id %>/edit" method="POST">
        <input type="text" value="<%= member.name %>" id="name" name="name"> <br>
        <input type="email" value="<%= member.email %>" id="email" name="email"> <br>
        <input type="tel" value="<%= member.phone %>" id="phone" name="phone"> <br>
        <input type="date" value="<%= member.date %>" id="date" name="date"> <br>
        <textarea id="message" name="message"><%= member.message %></textarea> <br>
        <button type="submit">Submit</button>
        

    </form>
</body>
</html>