<!DOCTYPE html>
<html lang="en">
<%- include('header') %>
    <div class="content">

        <div class="clubInfo">
            <i class="fa-solid fa-table-tennis-paddle-ball fa-7x logo"></i>
            <div>
              <h1>
            <%= title %>
        </h1>
        <h2>
            <%= motto %> 
         </h2>     
            </div>
        </div>
       
        <p><%= description %> </p>
        <form action="/register" method="get">
            <button type="submit" class="button">Join now!</button>
        </form>
        
    </div>


    <%- include('footer') %>