<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('header') %>
        <form action="/memberlist" method="get">
            <select name="sort" class="sort">
                <option value="default">Default</option>
                <option value="Ascending">A-Ö</option>
                <option value="Descending">Ö-A</option>
            </select>
            <button type="submit">Sort</button>
        </form>

        <ul>
            <% members.forEach((member)=> { %>
                <div class="memberlist">
                    <li>
                        <a href="/memberpage/<%= member._id %>">
                            <%= member.name %>
                        </a>
                        <div class="buttons">
                            <form action="/memberpage/<%= member._id %>/delete" method="post">
                            <button class="styledBtn">remove</button>
                        </form>
                        <form action="/memberpage/<%= member._id %>/edit" method="get">
                            <button class="styledBtn">edit</button>
                        </form>
                        </div>
                        
                    </li>
                </div>

                <% }); %>
        </ul>
        <%- include('footer') %>
</body>

</html>